Package: ivs-calc
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: golang-go, golang-doc, golang-go.tools, libpango1.0-dev, libgdk-pixbuf2.0-dev, libgtk2.0-dev
Maintainer: Radovan Sroka
Description: Simple calc
 IVS2017
